<body>
    <section style="margin-left: 10px;">
        <br>
        <strong>Visual:&nbsp;&nbsp;&nbsp;</strong>
        <p-selectButton [options]="listTypes" [(ngModel)]="TypeSelected" (onOptionClick)="FilterBy($event)" multiple="multiple"></p-selectButton><br><br>

        <strong>Sort By:&nbsp;&nbsp;&nbsp;</strong>
        <select class="custom-select" [(ngModel)]="apiService.sortBy" (ngModelChange)="GetSelectetObjects()">
            <option *ngFor="let item of OrderByList" value="{{item}}">{{item}}</option>
        </select><br><br>
        
        <strong>Number of items in list:&nbsp;&nbsp;&nbsp;</strong>
        <select class="custom-select" [(ngModel)]="apiService.pageSize" (ngModelChange)="GetSelectetObjects()">
            <option *ngFor="let item of pageSizeList" value="{{item}}">{{item}}</option>
        </select><br><br>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTagAnchor"><i class="fas fa-plus-circle"></i>&nbsp;Add Tag/Anchor</button><br><br>
        
        <div class="alert alert-success alert-dismissible" *ngIf="successAdd">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="CloseMessage()">&times;</a>
                <strong>Successfully added the Tag/Anchor!</strong>
            </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="errorAdd">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="CloseMessage()">&times;</a>
            <strong>Failed to add the Tag/Anchor. The API isn't responding.</strong>
        </div>
        <br><br>
    </section>
    <section>
        <table>
            <tr class="bg-primary">
                <th>ID</th>
                <th>Type</th>
                <th>Mac</th>
                <th>XPos</th>
                <th>YPos</th>
                <th>Description</th>
            </tr>    
            <tr *ngFor="let item of visualList; let i = index">
                <td>{{item.id}}</td>
                <td>{{item.type}}</td>
                <td>{{item.mac}}</td>
                <td>{{item.xPos}}</td>
                <td>{{item.yPos}}</td>
                <td>{{item.description}}</td>
            </tr>
        </table><br>
        <button style="display:inline-block;" type="button" class="btn btn-primary" (click)="PreviousPage()">Previous Page</button>&nbsp;&nbsp;
        <p style="display:inline-block;" ><strong>Current Page: {{apiService.pageNumber}}</strong></p>&nbsp;&nbsp;
        <button style="display:inline-block;" type="button" class="btn btn-primary" (click)="NextPage()">Next Page</button> 
    </section>

    <div class="modal fade" id="addTagAnchor" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Add Tag/Anchor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <b>Type: </b><select class="custom-select" [(ngModel)]="addTagAnchor.type">
                            <option selected>Choose...</option>
                            <option value="Tag">Tag</option>
                            <option value="Anchor">Anchor</option>
                    </select><br><br>
                    <b>Mac Address: </b><input class="col-sm-3" type="text" placeholder="192.168.1.1" [(ngModel)]="addTagAnchor.mac"><br><br>
                    <b>Position: </b>&nbsp;&nbsp;<b>X: </b>&nbsp;<input class="col-sm-2" type="number" placeholder="0" [(ngModel)]="addTagAnchor.xPos">
                    <b>Y: </b>&nbsp;<input class="col-sm-2" type="number" placeholder="0" [(ngModel)]="addTagAnchor.yPos"><br><br>
                    <b>Description: </b><textarea class="form-control" rows="2" placeholder="Extra information" [(ngModel)]="addTagAnchor.description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="AddTagAnchor()" [disabled]="!addTagAnchor.mac || addTagAnchor.type=='Choose...' || !addTagAnchor.xPos || !addTagAnchor.yPos">Add Tag/Anchor</button>
            </div>
        </div>
        </div>
    </div>

</body>

