<!--Er kunnen niet meer dan 25 tags en 25 anchors getoond worden op de kaart, deze restrictie heeft te maken met het maximaal aantal dat je kan opvragen per pagina.
    Dit kan omzeild worden door meerdere pagina's op te vragen tot je ale anchors/tags hebt gehad of door de restrictie af te zetten of te vergroten in de server.
-->
<section>
    <div class="info">
        <div>
            Tag: &nbsp;<div class="tag tagAnchor example-box" cdkDragBoundary=".boundary">0</div><br>
            Anchor: &nbsp;<div class="tagAnchor anchor example-box" cdkDragBoundary=".boundary">0</div>
        </div>
        <div class="interval">
            <form class="range-field">
                Refresh time: {{GetTimer}} ms <br>
                <input type="range" min="100" max="1000" step="10" [(ngModel)]="GetTimer" name="slider"
                    (ngModelChange)="ChangeRefreshTimer()">
            </form>
        </div>
        <div class="coordinates">
            Show coordinates:
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitches"
                    [(ngModel)]="mapService.coordinatesVisible">
                <label class="custom-control-label" for="customSwitches"></label>
            </div>
        </div>
        <div class="mapButton">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editMap"
                (click)="ChangeMap()">Change map</button>
        </div>
    </div>
    <div class="boundary" *ngIf="tags.length != 0 && GetVisualListAnchors.length != 0 && GetVisualListTags.length != 0">
        <div *ngFor="let tag of tags; index as i">
            <div *ngIf="GetVisualListTags[i].visible" [style.left.px]="tag.xPos" [style.top.px]="tag.yPos"
                class="tag tagAnchor example-box" cdkDragBoundary=".boundary">
                {{tag.mac | slice:3:5}}<p *ngIf="mapService.coordinatesVisible">{{tag.xPos}},{{tag.yPos}}</p>
            </div>
        </div>
        <div *ngFor="let anchor of anchors; index as i">
            <div *ngIf="GetVisualListAnchors[i].visible" [style.left.px]="anchor.xPos" [style.top.px]="anchor.yPos"
                class="tagAnchor anchor example-box" cdkDragBoundary=".boundary">
                {{anchor.mac | slice:6:8}}<p *ngIf="mapService.coordinatesVisible">{{anchor.xPos}},{{anchor.yPos}}</p>
            </div>
        </div>

        <!-- <div [style.width.px]="width[0]" [style.height.px]="height[0]" class="example-box crossed" cdkDragBoundary=".boundary" cdkDrag>
            Table
        </div>
        <div [style.width.px]="width[1]" [style.height.px]="height[1]" class="example-box crossed" cdkDragBoundary=".boundary" cdkDrag>
            Table
        </div>
        <div [style.width.px]="width[2]" [style.height.px]="height[2]" class="example-box crossed" cdkDragBoundary=".boundary" cdkDrag>
            Table
        </div>
        <div [style.width.px]="width[3]" [style.height.px]="height[3]" class="example-box crossed" cdkDragBoundary=".boundary" cdkDrag>
            Table
        </div> -->
    </div>

    <div class="modal fade" id="editMap" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tags/Anchors visible on the map</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="mb-4">
                        <tr class="bg-primary">
                            <th>ID</th>
                            <th>Mac</th>
                            <th>Visible</th>
                        </tr>
                        <tr *ngFor="let item of GetVisualListTags; let i = index">
                            <td>{{item.tagAnchor.id}}</td>
                            <td>{{item.tagAnchor.mac}}</td>
                            <td style="text-align: center;">
                                <a style="cursor: pointer;" (click)="ChangeMapItems(item)">
                                    <i *ngIf="item.visible" class="fas fa-eye"></i>
                                    <i *ngIf="!item.visible" class="fas fa-eye-slash"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    
                    <table>
                        <tr class="bg-primary">
                            <th>ID</th>
                            <th>Mac</th>
                            <th>Visible</th>
                        </tr>
                        <tr *ngFor="let item of GetVisualListAnchors; let i = index">
                            <td>{{item.tagAnchor.id}}</td>
                            <td>{{item.tagAnchor.mac}}</td>
                            <td style="text-align: center;">
                                <a style="cursor: pointer;" (click)="ChangeMapItems(item)">
                                    <i *ngIf="item.visible" class="fas fa-eye"></i>
                                    <i *ngIf="!item.visible" class="fas fa-eye-slash"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</section>