.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: black;
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    font-size: x-large;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .boundary {
    width: 95%;
    height: 95%;
    max-width: 100%;
    border: dotted rgba(0, 0, 0, 0.12) 2px;
    position: relative;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  section{
      height: 84vh;
      width: 97vw;
      margin: auto;
      margin-top: 15px;
  }
  .crossed {
    background:
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%),
        linear-gradient(to top right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%),
            #fff;
}

.tagAnchor{
  width: 20px !important;
  height: 20px !important;
  font-size: 12px !important;
  color: white !important;
  margin: 0 !important;
  cursor: default !important;
  position: absolute !important;
  p{
    position: absolute;
    margin-top: -20px;
    color:black;
    font-weight: bold;
  }
}
.tag{
  background-color: blue !important;
  border: solid 1px blue !important;
}
.anchor{
  background-color: red !important;
  border: solid 1px red !important;
}
.info{
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  button{
    margin-top: 10px;
    margin-left: 10px;
    height: fit-content;
  }
}
.coordinates{
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 15px;
}
.interval{
  margin-left: 100px;
}
.custom-switch{
  display: inline-block;
  margin-left: 8px;
  top: 2px;
}
button{
  border-radius: 18px;
}
table,th,td{
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}
.modal-body{
  margin: auto;
}
table{
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
}
tr:nth-child(odd){
  background-color: #c6c8ca;
}
tr:nth-child(even){
  background-color: white;
}
th{
  color: white;
}
input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  width: 200px;
  margin-left: -20px;
  padding-top: 15px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation-duration: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}
input{
  background: none;
}
@media only screen and (max-width: 620px){
  .info{
    display: block;
  }
  .coordinates{
    margin-left: 0;
    margin-top: 0;
  }
  .interval{
    margin-left: 20px;
  }
}
// @media only screen and (max-height: 900px){
//   .boundary{
//     height: 90%;
//   }
// }
// @media only screen and (max-height: 750px){
//   .boundary{
//     height: 82%;
//   }
// }
// @media only screen and (max-height: 650px){
//   .boundary{
//     height: 80%;
//   }
// }
// @media only screen and (max-height: 570px){
//   .boundary{
//     height: 75%;
//   }
// }
// @media only screen and (max-height: 500px){
//   .boundary{
//     height: 60%;
//   }
// }